.list-group {
  position: sticky;
  top: 200px;
  background-color: #222222;
  border-radius: 25px;
}
.list-group-item {
  background-color: #222222;
  color: white;
}
.list-group-item.active {
  background-color: #10ddb4;
  border-color: #10ddb4;
}